.alignleft {
    float: left;
    margin-right: 10px;
}

.post p {
    margin: 14px 0 14px 0;
}

.post em {
    font-style: italic;
}

.post ul {
    list-style: circle;
    margin: 0 0 0 25px;
}

div .post {
    overflow: auto;
}

.more-link {
    font-weight: 600;
}

hr {
    clear: both;
    margin-top: 35px;
    border: 0;
    border-top: 1px dotted #ccc;
    width: 620px;
    color: #fff;

}
