{% extends "organization/read_base.html" %}

{% block breadcrumb_content %}
    {{ super() }}
    <li>
        <a href="/blog">Blog</a>
    </li>
{% endblock %}


{% block secondary_content %}{% endblock %}

{% block primary_content_inner %}

<div id="main">
    <div class="prepend-1 span-16 last">
        <div id="content">
            {{ h.get_content(None, 'archives/17')[1]|safe }}
        </div>
    </div>
  <div class="clearfix"></div>
</div>
<xi:include href="layout.html" />

{% endblock %}
